{
  "extends": "stylelint-config-standard",
	"rules": {
	  "shorthand-property-no-redundant-values": true,
	  "declaration-block-no-duplicate-properties": true,
	  "declaration-block-no-redundant-longhand-properties": true,
	  "max-nesting-depth": 3,
	  "no-unknown-animations": true,
	  "no-empty-source": null,
	  "media-query-no-invalid": null,
	  "rule-empty-line-before": [ "always", {
		"except": [ "first-nested" ],
		"ignore": [ "after-comment" ]
	  }],
	  "comment-empty-line-before": "always",
	  "comment-whitespace-inside": null,
	  "color-no-invalid-hex": true
	}
}
